body {
    margin: 0 5% 0 5%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-image: URL("background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

:root {
    --bg-color: #800000;
    --text-color: #F2E8C6;
    --second-color: #982B1C;
    --other-color: #DAD4B5;
    --big-font: 3.5rem;
    --h2-font: 2.3rem;
    --p-font: O.5 rem;
}

.logo {
    position: relative;
    right: 10vw;
    top: 20vh;
    transform: translateY(-50%);
    z-index: -1;
    max-width: 70vh;
}

.logo img {
    width:  33em;
    height: auto;
}

@media (max-width: 700px){
    .logo {
        display: none;

    }
}

.container {
    width: 350px;
    height: 65vh;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(10px);
	background: linear-gradient(120deg, rgba(92,88,86,0.45702030812324934) 50%, rgba(186,180,180,0.45702030812324934) 100%);
    border-radius: 10%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0; 
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

form {
    width: 100%;
}

form label {
    display: block;
    margin-top: 0;
    font-size: 15px;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.Login, .Signup {
    width: 100%;
    padding: 10px;
    width: 130px;
    border: none;
    border-radius: 20px;
    margin-left: 110px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 3vh;
    font-weight: 700;
	font-family: "Poppins", sans-serif;;
    margin-bottom: 2%;
    margin-top: 3%;
	
	
}

.Login{
	color: #800000;
    background-color: #F2E8C6;
}

.Signup{
    color: #F2E8C6;
	text-decoration: none;
}
.Signup a{
	text-decoration: none;
	color: #800000;
}
.Login:hover {
    color: #F2E8C6;
	background-color: #800000;
}

.Signup:hover {
    color: #800000;
    background-color: #F2E8C6;
}


h1 {
    text-align: center;
    font-size: 30px;
	padding-top: 3vh;
}

.tagline {
    text-align: center;
    font-size: 1.8vh;
	margin-top: -15px;
	margin-bottom: 3vh;
}

.login-tagline {
    text-align: center;
    font-size: 3vh;
	margin-bottom: 4vh;
}

p {
    text-align: center;
    font-size: 2vh;
    margin: 0;
}

.login-link {
    text-align: center;
    margin-top: auto;
    padding: 25px 0px;
}


.forget-pass{
	text-align: center;
    margin-top: 1vh;
	margin-bottom: 1vh;
	padding: 10px;
}

.forget-pass a{
	color: white;
}